@model IEnumerable<UserDto>

@{
    var fullList = (bool)ViewData["fullList"];
}
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        @if (fullList)
        {
            <th>Roles</th>
            <th>E-mail</th>
        }
        <th><i class="fa fa-tools m-1"></i>Actions</th>
    </tr>
    </thead>
    <tbody>
    @if (Model is null || Model?.Count() == 0)
    {
        <tr>
            <td colspan="@(fullList ? 5 : 3)">
                <i>No Users</i>
            </td> 
        </tr>
    }
    else
    {
        foreach (var user in Model)
        {
            <tr>
                <td><i class="fa fa-user-circle"></i></td>
                <td>
                    @user.FullName
                </td>
                @if (fullList)
                {
                    <td>
                        @foreach (var role in user.Roles)
                        {
                            <span class="badge bg-dark text-uppercase">@role.Text</span>
                        }
                    </td>
                    <td>
                        <strong class="text-lowercase">@user.Email</strong>
                    </td>
                }
                <td>
                    <a class="link-info" asp-area="Accounts" asp-page="Profile" asp-route-id="@user.Id">View Profile</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>