@model CoursesListDto

<table class="table table-striped table-hover @(Model.FullView ? "" : "table-sm")">
    <thead>
    <tr>
        <th></th>
        <th>Title</th>
        <th>Year</th>
        @if (Model.FullView)
        {
            <th>Teachers</th>
            <th>Students</th>
        }
        <th>Created</th>
        <th><i class="fa fa-tools m-1"></i>Actions</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Courses.Any())
    {
        foreach (var course in Model.Courses)
        {
            <tr>
                <td>
                    <span class="fa fa-book"></span>
                </td>
                <td class="text-capitalize">
                    @course.Title
                </td>
                <td>
                    @course.Year
                </td>
                @if (Model.FullView)
                {
                    <td>
                        @course.TeachersCount
                    </td>
                    <td>
                        @course.StudentsCount
                    </td>
                }
                <td>
                    @course.CreatedAt.Humanize(utcDate: false)
                </td>
                <td>
                    <a href="#">View Details</a>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="5">
                <i>No Courses</i>
            </td> 
        </tr>
    }
    </tbody>
</table>