@model dynamic

<table class="table table-striped table-hover @(Model.FullView ? "" : "table-sm")">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        @if (Model.FullView)
        {
            <th>Roles</th>
            <th>E-mail</th>
        }
        else
        {
            <th>Created</th>
        }
        <th><i class="fa fa-tools m-1"></i>Actions</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Users.Any())
    {
        foreach (var user in Model.Users)
        {
            <tr>
                <td><i class="fa fa-user-circle"></i></td>
                <td>
                    @user.Name
                </td>
                @if (Model.FullView)
                {
                    <td>
                        @foreach (var role in user.Roles)
                        {
                            <span class="badge bg-dark text-uppercase">@role.Text</span>
                        }
                    </td>
                    <td>
                        <strong class="text-lowercase">@user.Email</strong>
                    </td>
                }
                else
                {
                    <td>
                        @user.CreatedAt.Humanize(utcDate: false)
                    </td>
                }
                <td>
                    <a class="link-info" asp-area="Accounts" asp-page="Profile" asp-route-id="@user.Id">View Profile</a>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="@(Model.FullView ? 5 : 4)">
                <i>No Users</i>
            </td> 
        </tr>
    }
    </tbody>
</table>