@model UserRolesDto

<div class="col-6">
    @if (Model.Editable)
    {
        <div class="row">
            <div class="alert alert-dismissible alert-info">
                <h4 class="alert-heading">Warning!</h4>
                <p class="mb-0">Only other administrators accounts can update you roles.</p>
            </div>
        </div>
    }
    <div class="row">
        <form method="post" asp-page-handler="UpdateRoles">
            <input type="hidden" name="id" value="@Model.UserId" >
            <div class="form-group">
                <select type="text" name="roles" id="roles" class="form-control user-roles" multiple="multiple" disabled="@Model.Editable">
                    @foreach (var role in Model.Roles)
                    {
                        <option selected="selected" readonly="readonly" value="@role.Text">@role.Text</option>
                    }
                </select>
            </div>
            <div>
                <i class="text-secondary small">Note: default role assigned is <strong>User</strong></i>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success mt-lg-4" disabled="@Model.Editable">Update</button>
            </div>
        </form>
    </div>
</div>
