@model dynamic

<div class="row g-1">
    @if (Model.Editable)
    {
        <div class="alert alert-info">
            Only an other administrators accounts can update your roles.
        </div>
    }
    else
    {
        <div class="col">
            <form method="post" asp-page-handler="AddRoles">
                <input type="hidden" name="id" value="@Model.UserId">
                <div class="row">
                    <div class="col-sm-6">
                        <select type="text" name="roles" id="roles" class="form-control user-roles" multiple="multiple" disabled="@Model.Editable">
                        </select>
                    </div>
                    <button type="submit" class="col-sm-2 btn btn-outline-success">Add Roles</button>
                </div>
            </form>
        </div>
    }
    <div class="w-100"></div>
    <div class="col mt-2">
        @if (Model.Editable)
        {
            <table class="table table-sm">
                <tr>
                    <td class="text-capitalize">
                        <i class="fa fa-fw fa-user-cog m-2"></i>
                        <strong>User</strong>
                    </td>
                    <td>
                        <a class="btn btn-sm text-secondary">Default</a>
                    </td>
                </tr>
                @foreach (var role in Model.Roles)
                {
                    <tr>
                        <td class="text-capitalize">
                            <i class="fa fa-fw fa-user-cog m-2"></i>
                            <strong>@role.Text</strong>
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <form method="post" asp-page-handler="RemoveRole">
                <table class="table table-sm">
                    <tr>
                        <td class="text-capitalize">
                            <i class="fa fa-fw fa-user-cog m-2"></i>
                            <strong>User</strong>
                        </td>
                        <td>
                            <a class="btn btn-sm text-secondary">Default</a>
                        </td>
                    </tr>
                    @foreach (var role in Model.Roles)
                    {
                        <tr>
                            <td class="text-capitalize">
                                <i class="fa fa-fw fa-user-cog m-2"></i>
                                <strong>@role.Text</strong>
                            </td>
                            <td>
                                <input type="hidden" name="role" value="@role.Text">
                                <input type="hidden" name="remove" value="true">
                                <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                            </td>
                        </tr>
                    }
                </table>
            </form>
        }
    </div>
</div>